@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --type: #000;
    --font-type: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #da0100;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.nav_item:hover {
    background-color: white;
    color: black;
    transition: background-color 1s ease, color 1s ease;
}

.nav_container > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sliver {
    width: 100%;
    border: 2px solid black;
}

.body_container {
    justify-content: center;
    align-items: center;
    margin: 40px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.images_container {
    display: flex;
    flex-direction: row;
}

.type_container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.types {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.pokemon_type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 80px;
    font-weight: 700;
    height: 40px;
    font-size: 20px;
    background-color: var(--type);
    color: var(--font-type);
}

.abilities_container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.abilities {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.abilities > a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.input_form {
    display: flex;
    margin-right: 20px;
    border: none;
    outline: none;
}

.pokemon_name {
    font-size: 40px;
    font-weight: 700;
    animation: fade 3s infinite;
}

.pokemon_sprite {
    height: auto;
    width: 200px;
    animation: slideFront 7s infinite;
}

.back_sprite {
    animation: slideBack 10s infinite;
}

#pokemon_search {
    margin-top: 12px;
    outline: none;
    text-align: center;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Oswald', sans-serif;
}

.moves_container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#moves_header {
    display: none;
    font-weight: 700;
}

.info_container {
    display: none;
    gap: 20px;
}

.height_container, .weight_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.height, .weight {
    font-size: 20px;
}

.moves_container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.moves_button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    outline: none;
    background-color: #da0100;
    color: white;
    cursor: pointer;
    margin: 12px;
}

.moves_button:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

#moves_content {
    display: none;
    text-align: center;
    font-size: 16px;
}

@keyframes fade {
    0% {
        color: black;
    }
    50% {
        color: var(--type);
    }
    100% {
        color: black;
    }
}

@keyframes slideFront {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px) translateY(-10px);
    }
    75% {
        transform: translateX(-5px) translateY(10px);
    }
}

@keyframes slideBack {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px) translateY(10px);
    }
    75% {
        transform: translateX(5px) translateY(-10px);
    }
}